@model TiendaMascotas.Entities.AnimalesEnt
@{
    ViewBag.Title = "RegistrarAnimal";
    Layout = "~/Views/Shared/LayoutProducts.cshtml";
}

<!-- end header -->
<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Buscar:</h3>
                        <input type="text" placeholder="Escriba palabras claves">
                        <button type="submit">Buscar <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Registro de</p>
                    <h1>Animales</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-100 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">

                <h2>Ingrese los datos del animal que desea registrar</h2>
                <br>
                <br>

                @using (Html.BeginForm("RegistrarAnimal", "Gatos", FormMethod.Post, new { enctype = "multipart/form-data", @class = "pt-3" }))
                {
                    <!-- corregir diseño inputs, seguir trabajando en crud-->
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.Nombre, new
                        {
                           @class = "form-control form-control-lg",
                           @placeholder = "Nombre del animal",
                           @autocomplete = "Off",
                           @required = true
                        })
                    </div>
                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.DropDownListFor(Model => Model.tipoAnimal, ViewBag.ListadoAnimales as List<SelectListItem>, new
                        {
                            @class = "form-control form-control-lg",
                            @placeholder = "Seleccione el tipo de animal",
                            required = true
                        })
                    </div>
                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.TextBoxFor(Model => Model.Descripcion, new
                        {
                           @class = "form-control form-control-lg",
                           @placeholder = "Descripción",
                           @autocomplete = "Off",
                           @required = true
                        })
                    </div>
                    <br>
                    <div class="form-group col-lg-8 offset-lg-2 text-center">
                        @Html.LabelFor(Model => Model.imagen, new
                        {
                           @class = "control-label",
                           @placeholder = "Imagen del animal",
                        })
                        <div>
                            <input type="file" id="imagen1" name="imagen1" class="form-control form-control-lg" accept=".jpg,.jpeg,.png,.gif" required>
                        </div>
                    </div>
                    <br>
                    <div class="mt-3">

                        <br>
                        <br>
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2 text-center">
                                <input type="submit" id="btnRegistrar" value="Registrar" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                            </div>
                        </div>

                    </div>

                }
            </div>
        </div>

    </div>
</div>


