<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Diseño de pag web gratis">
    <meta name="author" content="Devcrud">
    <title>Proyecto Web - Grupo #9</title>

    <link href="~/assets/vendors/themify-icons/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/login.scss" rel="stylesheet" />
</head>
<body>
    
    @RenderBody()
    
    <script src="~/assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/assets/vendors/bootstrap/bootstrap.affix.js"></script>
    <script src="~/assets/js/login.js"></script>

</body>
</html> 